.breweries {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Start content from the top */
  align-items: center;
  min-block-size: 100vh; /* Minimum height to fill the viewport */
  padding: 20px;
}

/* Style for the page title */
.breweries h1 {
  font-size: 60px;
  font-weight: bold;
  margin-block-start: 20px;
}
