.breweries {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Start content from the top */
  align-items: center;
  min-block-size: 100vh; /* Minimum height to fill the viewport */
  padding: 20px;
}

.box {
  text-align: start;
  border: black ridge 1px;
  border-radius: 10px;
  padding: 30px 10px;
  margin: 3px;
  inline-size: 100%;
  padding-inline-start: 30px;
  padding-inline-end: 100px;
  margin-block-end: 20px;
}

.box:hover {
  cursor: pointer;
  transform: scale(1.05);
}
