/* Style for the content filter */
.ContentFilter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

/* Style for the table container */
.Table {
  width: 100%;
}

/* Style for the table header (bold text) */
.bold-header {
  font-weight: bold;
}

/* Style the filter input */
.input {
  padding: 8px;
  inline-size: 100%;
  max-inline-size: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-block-end: 10px;
}

